db:
  environment:
    MYSQL_ROOT_PASSWORD: mysql
  image: mysql
  ports:
    - "3306:3306"
web:
  build: .
  env_file: .env
  links:
    - db
  ports:
    - "3000:3000"
  volumes:
    - .:/usr/src/app
